/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Body and main container style */
body {
    background-color: #000;
    min-height: 900px;
    height: 100vh;
    min-width: 1000px;
    width: 90vw;
}

#main_container {
    width: 100%;
    height: 100%;
    margin: 0 5%;
    display: flex;
    flex-direction: row;
}

/* Left panel (logo part) style */
@font-face {
    font-family: Norse-Bold;
    src: url(Fonts/Norse-Bold.otf);
}
#left_panel {
    width: 45%;
    background-image: url("Images/main_img_2.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo_container {
    margin-top: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(58, 58, 58, 0.5);
}

#logo {
    width: 15%;
    height: 9rem;
}

#logo_image {
    /* width: 100%; */
    height: 7.5rem;
    margin: 0.75rem auto;
}

#logo_text p {
    font-family: Norse-Bold;
    font-size: 6rem;
    color: #fff;
}

#image_info {
    text-align: center;
    color: #333;
}

#image_info a {
    color: #333;
    text-decoration: underline;
}

/* Right panel (sign up form) style */
#right_panel {
    width: 55%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#right_panel div {
    font-family: Rubik, Arial, Helvetica, sans-serif;
}

#form_description {
    padding: 15% 10%;
    height: 38%;
    background-color: #eee;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
    line-height: 1.5em;
}

#form {
    height: 30%;
    padding: 5% 10%;
    border-bottom: lightgray 2px solid;
    box-shadow: lightgray 0 3px 5px;
}

#form h2 {
    font-size: 1.2rem;
    letter-spacing: 0.04rem;
    margin-bottom: 1rem;
}

#form_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input_element {
    width: 50%;
}

#form label {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    display: block;
    margin: 0.5rem 0 0 0;
}

#form input {
    height: 1.5rem;
    border: #e5e5e5 1px solid;
    border-radius: 3px;
    margin: 0.05rem 0;
}

#form .error {
    border: red 1px solid;
}

#form input:focus {
    border: none;
    outline: blue 1px solid;;
    box-shadow: lightgray 5px 5px 5px;
}

#not_match {
    color: red;
    font-size: 0.8rem;
}

#submit_section {
    height: 32%;
    padding: 5% 10%;
}

#submit_button {
    background-color: #666;
    width:40%;
    height: 23%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    border-radius: 7px;
    box-shadow: lightgray 5px 5px 5px;
}

#submit_section p {
    margin-top: 2rem;
    font-weight: 600;
}

#submit_section a {
    margin-left: 0.7rem;
    font-size: 120%;
    font-weight: bold;
    color: #666;
}
