/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Styles */
body {
    background-color: #8FA395;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: Orbitron, Courier;
    color: #0C2112;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    border-radius: 10px;
    width: 540px;
    padding: 20px;
    margin-top: 60px;
    background-color: #748779;
    box-shadow: 20px 20px 10px #17241B;
}

#display {
    width: 460px;
    border: 4px solid black;
    border-radius: 10px;
    height: 110px;
    padding: 10px;
    font-size: 50px;
    font-weight: 800;
    text-align: right;
    background-color: #8FA395;
    letter-spacing: 3px;
}

#keyboard {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

.button {
    width: 80px;
    height: 80px;
    margin: 10px;
    padding: 20px 15px 15px 15px;
    border: 3px solid black;
    border-radius: 50%;
    text-align: center;
    font-size: 180%;
    font-weight: 600;
}

.button:hover {
    cursor: pointer;
}

.big {
    height: 100px;
    width: 100px;
    padding: 20px 10px 10px 10px;
    font-size: 45px;
}

#backspace_button {
    width: 200px;
    margin-left: 0px;
    font-size: 20px;
    border-radius: 40px;
    padding-top: 35px;
}

#equal_button {
    margin-right: 0px;
}